/* ─────────────────────────────────────────
   DESIGN SYSTEM — GAAN React
   Tokens semánticos
   Fuente: Figma Variables
───────────────────────────────────────── */

/* ── Botón grupo ── */

/* Fondo */
:root {
  --fondo-componente-boton-primario-default: var(--Global-Neutrals-800);   /* #505050 */
  --fondo-componente-boton-primario-hover: var(--Global-Neutrals-400);     /* #919191 */
  --fondo-control-deshabilitado: var(--Global-Neutrals-200);               /* #d6d8d8 */
  --fondo-superficie: var(--Global-Neutrals-white);                        /* #ffffff */
}

/* Texto */
:root {
  --texto-componente-boton-primario: var(--Global-Neutrals-white);         /* #ffffff */
  --texto-cuerpo: var(--Global-Neutrals-800);                              /* #505050 */
  --texto-boton-secundario-hover: var(--Global-Neutrals-400);              /* #919191 */
  --texto-boton-secundario-disabled: var(--Global-Neutrals-200);           /* #d6d8d8 */
  --texto-link-default: var(--Global-red);                                 /* #dc0028 */
}

/* Borde */
:root {
  --border-oscuro: var(--Global-Neutrals-800);                             /* #505050 */
  --border-default: var(--Global-Neutrals-400);                            /* #919191 */
  --border-claro: var(--Global-Neutrals-200);                              /* #d6d8d8 */
}

/* Espaciado — Botón grupo */
:root {
  --button-spacing-gap: 8px;
  --button-spacing-horizontal-padding: 16px;
  --button-spacing-vertical-padding: 8px;
  --button-secondary-border-width: 2px;
}


/* ── Textbox ── */

/* Fondo */
:root {
  --fondo-componente-input-disabled: var(--Global-Neutrals-100);           /* #f4f4f4 */
}

/* Texto */
:root {
  --texto-brand: var(--Global-red);                                        /* #dc0028 */
  --texto-error: var(--Global-redDark);                                    /* #b91e1e */
  --texto-placeholder: var(--Global-Neutrals-200);                        /* #c7c7c7 */
}

/* Borde */
:root {
  --border-error: var(--Global-redDark);                                   /* #b91e1e */
}

/* Espaciado — Textbox */
:root {
  --textbox-height-desktop: 30px;
  --textbox-height-mobile: 44px;
  --textbox-padding: 6px;
  --textbox-border-width-default: 1px;
  --textbox-border-width-focus: 2px;
  --textbox-border-width-error: 2px;
  --textbox-icon-size: 24px;
  --textbox-icon-outside-size: 32px;
  --textbox-label-gap: 8px;
}